html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, menu, section{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

img{
	vertical-align: top;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

input, button, select, textarea{
	font-size: 100%;
	margin: 0;
	padding: 0;
}

body, div, ul, li, p, form, span, img, h1, h2, section{
	position: relative;
}

html, body{
	position: absolute;
	min-height: 100%;
	width: 100%;
	line-height: 1;
}

ol, ul, menu{
	list-style: none;
}

div{
	display: block;
}

blockquote, q{
	quotes: none;
}

input, textarea, :focus{
	outline: 0;
}

button::-moz-focus-inner{
	border: 0;
}

textarea{
	overflow: auto;
	resize: vertical;
}

ins{
	display: inline-block;
	*display: inline;
	text-decoration: none;
}

del{
	text-decoration: line-through;
}

table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

abbr{
	cursor: help;
}

label,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"],
select,
a[href],
button{
	cursor: pointer;
}

a[disabled],
input[disabled],
button[disabled]{
	cursor: default;
}

hr{
	background: 0;
	border: 0;
	height: 0;
}